{% extends "base.html" %}

{% block body %}
  <div class="row">
    <h1>Lista de Tarefas</h1>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% if tarefas %}
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Tarefa</th>
          <th>Descrição</th>
          <th>Data final</th>
          <th>Prioridade</th>
          <th>Categoria</th>
          <th colspan="2" style="text-align:center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tarefas %}
          <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.nome }}</td>
            <td>{{ t.descricao }}</td>
            <td>{{ t.data_final }}</td>
            <td>{{ t.get_prioridade_display }}</td>
            <td>{{ t.categoria }}</td>
            <td><a href="{% url 'tarefas:editar_tarefa' t.id %}" class="btn btn-info btn-xs">Editar</a></td>
            <td><a href="{% url 'tarefas:delete_tarefa' t.id %}" class="btn btn-danger btn-xs">Excluir</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="alert alert-info">
        <p>Não há tarefas disponíveis!</p>
      </div>
    {% endif %}
    <a href="{% url 'tarefas:nova_tarefa' %}" class="btn btn-default" role="button">Adicionar tarefa</a>
  </div>
{% endblock body %}
