{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
  <h1>Trocar senha</h1>
  {% if messages %}
    <div class="alert alert-warning">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  <form class="" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}">Senha antiga</label>
      {{ form.old_password|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
      {{ form.new_password1|add_class:"form-control" }}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}">Confirmar nova senha</label>
      {{ form.new_password2|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
  </form>
{% endblock %}
